{% extends "::manager/layoutManager.html.twig" %}

{% block title %}GraphNewsAdminBundle:Website:add{% endblock %}

{% block leftmenu %}
    <ul class="nav nav-pills nav-stacked">
        <li><a href="{{ path('graph_news_admin_sitelist') }}">Liste des Sites</a></li>
        <li><a href="{{ path('graph_news_admin_siteadd') }}">Ajouter un site</a></li>
    </ul>
{% endblock %}

{% block content %}

    {% include "GraphNewsAdminBundle::alert.html.twig" %}

    <div class="form">
        <form action="{{ path('graph_news_admin_siteadd') }}" {{ form_enctype(form) }} method="POST"
              novalidate="novalidate">
            <div class="left form-group">
                {% form_theme form 'GraphNewsAdminBundle:Form:form_theme_layout.html.twig' %}
                {{ form_widget(form) }}
            </div>

        </form>
    </div>

{% endblock %}
