{% extends "GraphNewsAdminBundle::Parser/index.html.twig" %}

{% block title %}GraphNewsAdminBundle:Parser:add{% endblock %}

{% block content %}

    {% include "GraphNewsAdminBundle::alert.html.twig" %}

    <div class="form">
        <form action="{{ path('graph_news_admin_parseradd') }}" {{ form_enctype(form) }} method="POST"
              novalidate="novalidate">

            <div class="admin-form-button">
                {{ form_widget(form.Enregistrer) }}
            </div>
            <div class="left form-group">
                <fieldset>
                    {{ form_label(form.name) }}
                    {{ form_errors(form.name) }}
                    {{ form_widget(form.name) }}
                </fieldset>
                <fieldset id="textAreaHide">
                    {{ form_label(form.format) }}
                    {{ form_errors(form.format) }}
                    {{ form_widget(form.format) }}
                </fieldset>
                <fieldset>
                    {{ form_label(form.format) }}
                    <div id="ace-editor" class="ace-editor">{{ defaultParserConf }}</div>
                </fieldset>

                {{ form_rest(form) }}
            </div>
        </form>
    </div>

{% endblock %}
